# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
AUTH_SECRET=myauthsecret

# MintTix Wallet keys
PLATFORM_WALLET_PRIVATE_KEY=
NEXT_PUBLIC_PLATFORM_WALLET_PUBLIC_KEY=

# ChainStack RPC endpoint
RPC_ENDPOINT=

# Resend
RESEND_API_KEY=

# Email
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_ADMIN_EMAIL_PASSWORD=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=